<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <table>
        <thead>
        <tr>
            <td>이름</td>
            <td>거주지</td>
            <td>학교</td>
            <td>전공</td>
            <td>비고</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${student}">
            <td th:text="${student.name}">name</td>
            <td th:text="${student.addr}">addr</td>
            <td th:text="${student.school}">school</td>
            <td th:text="${student.major}">major</td>
            <td><a th:href="@{http://localhost:8090/}"></a></td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>